node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.angular/cache/

dist/
www/

*.log
logs
*.tmp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/

*.sublime-project
*.sublime-workspace

.atom/

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

coverage/
/src/out-tsc/
/out-tsc/

documentation/