<section class="timeline-feed">
  <article *ngFor="let artwork of artworks" class="artwork-card">
    <header class="card-header">
       <a [routerLink]="['/profile/' + artwork.autorUsername]" class="author-link">
        <img
          [src]="artwork.urlFotoPerfilAutor
          ? artwork.urlFotoPerfilAutor
          : 'https://placehold.co/50x50/76A5AF/FFFFFF?text=' + artwork.autorUsername.charAt(0).toUpperCase()"
          [alt]="'Avatar de ' + artwork.autorUsername"
          class="author-avatar">
        <span class="author-name">{{ artwork.autorUsername }}</span>
      </a>
    </header>

    <div *ngIf="artwork.url" class="card-media-container" [ngSwitch]="artwork.calculatedMediaType">

      <img *ngSwitchCase="'imagem'"
           [src]="artwork.url"
           [alt]="artwork.titulo"
           class="artwork-image">

      <plyr *ngSwitchDefault
            class="plyr-container"
            [class.audio-player-wrapper]="artwork.calculatedMediaType === 'audio'"
            plyrTitle="{{ artwork.titulo }}"
            [plyrSources]="artwork.plyrSourcesArray"   [plyrType]="artwork.plyrMediaTypeValue">   </plyr>

    </div>

    <footer class="card-footer">
       <div class="actions">
        <button class="action-btn" (click)="toggleLike(artwork)" [class.liked]="artwork.curtidaPeloUsuario">
          <span class="icon-heart"></span> <span class="btn-text">Gostei</span>
        </button>
        <button class="action-btn" (click)="toggleCommentBox(artwork)">Comentar</button>
      </div>
      <div class="likes">{{ artwork.totalCurtidas }} curtidas</div>
      <p class="description">
        <strong>{{ artwork.autorUsername }}</strong> {{ artwork.descricao }}
      </p>
      <div class="comments" (click)="openCommentsModal(artwork.id)">Ver todos os comentários</div>
      <div *ngIf="artwork.showCommentBox" class="comment-box">
        <form [formGroup]="commentForms.get(artwork.id)!" (ngSubmit)="submitComment(artwork)">
          <input type="text" formControlName="texto" placeholder="Adicione um comentário..." autofocus>
          <button type="submit" [disabled]="commentForms.get(artwork.id)?.invalid">Publicar</button>
        </form>
      </div>
    </footer>
  </article>

  <div *ngIf="isLoading" class="loading-state">
    <p>A carregar as obras de arte...</p>
  </div>
</section>

<app-comments-modal
  *ngIf="isCommentsModalOpen && selectedArtworkIdForModal"
  [obraDeArteId]="selectedArtworkIdForModal"
  (close)="closeCommentsModal()">
</app-comments-modal>