@use '@angular/material' as mat;


@include mat.core();


$inspira-frontend-primary: mat.define-palette(mat.$indigo-palette);
$inspira-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$inspira-frontend-warn: mat.define-palette(mat.$red-palette);


$inspira-frontend-theme: mat.define-light-theme((
  color: (
    primary: $inspira-frontend-primary,
    accent: $inspira-frontend-accent,
    warn: $inspira-frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));


@include mat.all-component-themes($inspira-frontend-theme);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Pacifico&display=swap');
@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-primary;
  background-color: $background-color;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }